<div class="info"><slot /></div>

<style lang="scss">
  @use "../styles/type.scss";
  @use "../styles/space.scss";
  @use "../styles/color.scss";

  .info {
    padding: space.sp(1);
    border-radius: space.sp(0);
    background-color: color.$background-secondary;
    margin: space.sp(2) 0;

    > :global(:last-child) {
      margin-bottom: 0;
    }
  }
</style>
