---
import "../styles/global.scss";
export interface Props {
  title?: string | undefined;
}
const { title = "Jordan Yoon-Buck" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <slot name="in-head" />
  </head>
  <body>
    <slot />
  </body>
</html>
